<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel App</title>
    <!-- <link rel="stylesheet" href="/styles/style.scss"> -->
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Travel Planner
        </div>
        <div class="section">
            <div class="holder">
                <label for="zip">My Trip to: </label>&nbsp;&nbsp;
                <input type="text" id="zip" placeholder=" Enter City here" required>
            </div>
            <div class="holder">
                <label>Departure Date: </label>&nbsp;&nbsp;
                <input type="date" id="depDate" placeholder="dd-mm-yyyy" required></input>
            </div>
            <div class="holder">
                <label>Return Date: </label>&nbsp;&nbsp;
                <input type="date" id="retDate" placeholder="dd-mm-yyyy" required></input>
            </div>
            <button id="generate" type="submit">Save Trip </button>
        </div>
        <div id="entryTitle" class="title"></div>
        <div id="entryTable">
            <img id="pic"></img>
            <div id="content">
                <div id="city"></div>
                <div id="startdate"></div>
                <div id="diffDays"></div>
                <div id="temp"></div>
                <div id="daysTrip"></div>
            </div>
        </div>
    </div>

    </div>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>